In [15]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [16]:
#Sperate small vs big busineses into different folders

small_businesses_files = [
        "Customer PNL Form.xlsx - ABC Company.xlsx",
        "Customer PNL Form.xlsx - BCD Company.xlsx",
        "Customer PNL Form.xlsx - CDE Company.xlsx",
        "Customer PNL Form.xlsx - DEF Company.xlsx",
        "Customer PNL Form.xlsx - EFG Company.xlsx",
        "Customer PNL Form.xlsx - FGH Company.xlsx",
        "Customer PNL Form.xlsx - GHI Company.xlsx",
        "Customer PNL Form.xlsx - HIJ Company.xlsx",
        "Customer PNL Form.xlsx - IJK Company.xlsx",
        "Customer PNL Form.xlsx - JKL Company.xlsx",
        "Customer PNL Form.xlsx - KLM Company.xlsx",
        "Customer PNL Form.xlsx - LMN Company.xlsx"
]

big_businesses_files = [ 
        "Customer PNL Form.xlsx - MNO Company.xlsx",
        "Customer PNL Form.xlsx - NOP Company.xlsx",
        "Customer PNL Form.xlsx - OPQ Company.xlsx",
        "Customer PNL Form.xlsx - PQR Company.xlsx",
        "Customer PNL Form.xlsx - QRS Company.xlsx",
        "Customer PNL Form.xlsx - RST Company.xlsx",
        "Customer PNL Form.xlsx - STU Company.xlsx",
        "Customer PNL Form.xlsx - TUV Company.xlsx",
        "Customer PNL Form.xlsx - UVW Company.xlsx",
        "Customer PNL Form.xlsx - VWX Company.xlsx",
        "Customer PNL Form.xlsx - WXY Company.xlsx",
        "Customer PNL Form.xlsx - XYZ Company.xlsx" 
]       


# small_business_directory_path = '/Users/tenzinuden/Desktop/Project_D/Small_Customer_PNL_Forms '
# big_business_directory_path = '/Users/tenzinuden/Desktop/Project_D/Big_Customer_PNL_Forms '


directory_path = '/Users/tenzinuden/Desktop/Project_D/Customer_PNL_Forms'

small_businesses_list = []
for file in small_businesses_files:
    small_businesses_list.append(pd.read_excel(directory_path+'/'+file))

big_businesses_list = []
for file in big_businesses_files:
    big_businesses_list.append(pd.read_excel(directory_path+'/'+file))

In [17]:
#Create a dataframe for small business and big businesses and insert all of the data here 
small_business_df = pd.read_excel('Small Business Tracking Report (1).xlsx',header=1)
big_business_df = pd.read_excel('Big Business Tracking Report (1).xlsx',header=1)

In [18]:
#rename the first column for efficiency

current_columns_s = small_business_df.columns.tolist()
current_columns_b = big_business_df.columns.tolist()

current_columns_s[0], current_columns_b[0] = "company_name", "company_name"
current_columns_s[1], current_columns_b[1] = "date_filed", "date_filed"
current_columns_s[2], current_columns_b[2] = "associate_initials", "associate_initials"
current_columns_s[3], current_columns_b[3] = "current_period_total_sales_revenue", "headquarters_location"
current_columns_s[4], current_columns_b[4] = "sales_revenue_change_from_budget", "current_period_total_sales_revenue"
current_columns_s[5], current_columns_b[5] = "current_period_total_cost_of_sales", "sales_revenue_change_from_budget"
current_columns_s[6], current_columns_b[6] = "cost_of_sales_change_from_budget", "current_period_total_cost_of_sales"
current_columns_s[7], current_columns_b[7] = "ratio_revenue_to_cost", "cost_of_sales_change_from_budget" 
current_columns_s[8], current_columns_b[8] = "current_period_total_operating_expenses", "ratio_revenue_to_cost"
current_columns_s[9], current_columns_b[9] = "ratio_revenue_to_total_expenses", "current_period_total_operating_expenses"
current_columns_s[10], current_columns_b[10] = "current_period_total_taxes", "ratio_revenue_to_total_expenses"
current_columns_s[11], current_columns_b[11] = "gross_margin", "current_period_total_taxes"
current_columns_s[12], current_columns_b[12] = "return_on_sales", "current_period_net_profit"
current_columns_s[13], current_columns_b[13] = "entered_in_online_tracker", "gross_margin"
current_columns_s[14], current_columns_b[14] = "company_hq_location", "return_on_sales"
current_columns_b[15] = "entered_in_online_tracker"
current_columns_b[16] = "current_period_benefits_admin_amount_paid"

small_business_df.columns= current_columns_s
big_business_df.columns= current_columns_b

In [19]:
# to getting the random dates for this year as an example

start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)

date_difference = end_date - start_date

# Generate a random number of days to add and calculate the dates
random_days = random.randint(0, date_difference.days)
random_date = start_date + timedelta(days=random_days)
random_date = random_date.date() # to only look for the date and not the time

# to generate a random uppercase alphabet for the Associate initials
alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','W','X','Y','Z']

# to generate a random uppercase alphabet for the Online tracker option
yORn= ['Y','N']

random_upper = random.choice(alphabet)
random_entry = random.choice(yORn)

In [20]:
#importing the data from the Small PNL Forms to the small business dataframe

for i in range(len(small_businesses_list)):
    
    total_sales_revenue = small_businesses_list[i].iloc[12,4]
    current_period_total_cost_of_sales = small_businesses_list[i].iloc[20,4]
    current_period_total_operating_expenses = small_businesses_list[i].iloc[47,4]
    
    ratio_revenue_to_cost = total_sales_revenue /current_period_total_cost_of_sales
    ratio_revenue_to_total_expenses = total_sales_revenue/current_period_total_operating_expenses 

    
    small_business_df.loc[i,"date_filed"] = random_date
    small_business_df.loc[i,"associate_initials"] = random_upper
    small_business_df.loc[i,"current_period_total_sales_revenue"] = small_businesses_list[i].iloc[12,4]
    small_business_df.loc[i,"sales_revenue_change_from_budget"] = small_businesses_list[i].iloc[12,7]
    small_business_df.loc[i,"current_period_total_cost_of_sales"] = small_businesses_list[i].iloc[20,4]
    small_business_df.loc[i,"cost_of_sales_change_from_budget"] = small_businesses_list[i].iloc[20,7]
    small_business_df.loc[i,"ratio_revenue_to_cost"] = ratio_revenue_to_cost
    small_business_df.loc[i,"current_period_total_operating_expenses"] = small_businesses_list[i].iloc[47,4]
    small_business_df.loc[i,"ratio_revenue_to_total_expenses"] = ratio_revenue_to_total_expenses
    small_business_df.loc[i,"current_period_total_taxes"] =small_businesses_list[i].iloc[60,4]
    small_business_df.loc[i,"gross_margin"] = small_businesses_list[i].iloc[1,2]
    small_business_df.loc[i,"return_on_sales"] = small_businesses_list[i].iloc[2,2]
    small_business_df.loc[i,"entered_in_online_tracker"] = random_entry
    small_business_df.loc[i,"company_hq_location"] = small_businesses_list[i].iloc[3,4]
    
small_business_df

/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1901718180.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2024-03-13' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  small_business_df.loc[i,"date_filed"] = random_date
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1901718180.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'H' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  small_business_df.loc[i,"associate_initials"] = random_upper
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1901718180.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Y' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  small_business_df.loc[i,"entered_in_online_tracker"] = random_entry
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1901718180.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'San Diego, CA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  small_business_df.loc[i,"company_hq_location"] = small_businesses_list[i].iloc[3,4]

,company_name,date_filed,associate_initials,current_period_total_sales_revenue,sales_revenue_change_from_budget,current_period_total_cost_of_sales,cost_of_sales_change_from_budget,ratio_revenue_to_cost,current_period_total_operating_expenses,ratio_revenue_to_total_expenses,current_period_total_taxes,gross_margin,return_on_sales,entered_in_online_tracker,company_hq_location
0,ABC Company,2024-03-13,H,430735.0,-0.090432,190116.0,0.032751,2.265643,126073.0,3.416552,36702.51,0.558624,0.180722,Y,"San Diego, CA"
1,BCE Company,2024-03-13,H,453716.0,NaN,202650.0,NaN,2.238914,122867.0,3.692741,39402.69,0.553355,0.195709,Y,"Phoenix, AZ"
2,CDE Company,2024-03-13,H,420635.0,-0.159150,180038.0,-0.015643,2.336368,108545.0,3.875213,0.00,0.571985,0.313935,Y,"New Orleans, LA"
3,DEF Company,2024-03-13,H,493781.0,-0.071589,182055.0,0.069729,2.712263,118813.0,4.155951,53926.37,0.631304,0.281474,Y,"Wilmington, DE"
4,EFG Company,2024-03-13,H,406433.0,0.021720,178280.0,-0.093917,2.279745,128839.0,3.154581,33415.15,0.561355,0.162140,Y,"Indianapolis, IN"
5,FGH Company,2024-03-13,H,554071.0,0.279849,179247.0,-0.103267,3.091103,96075.0,5.767067,71728.07,0.676491,0.373636,Y,"Cherry Hill, NJ"
6,GHI Company,2024-03-13,H,480321.0,0.076323,194390.0,-0.057695,2.470914,89277.0,5.38012,52169.96,0.595291,0.300807,Y,"Columbus, OH"
7,HIJ Company,2024-03-13,H,363077.0,-0.272819,185957.0,-0.015606,1.952478,108924.0,3.333306,24406.62,0.487830,0.120606,Y,"Salt Lake City, UT"
8,IJK Company,2024-03-13,H,470974.0,0.035133,196532.0,0.082964,2.396424,97381.0,4.836405,48353.60,0.582712,0.273279,Y,"Seattle, WA"
9,JKL Company,2024-03-13,H,422384.0,-0.031098,196433.0,0.026097,2.15027,97327.0,4.339844,30988.35,0.534942,0.231154,Y,"Salem, OR"
10,KLM Company,2024-03-13,H,433547.0,0.127030,203294.0,0.097457,2.132611,107712.0,4.025058,36912.45,0.531091,0.197507,Y,"Orlando, FL"
11,LMN Company,2024-03-13,H,423401.0,0.025343,160726.0,-0.208640,2.634303,118093.0,3.585318,42757.41,0.620393,0.240492,Y,"Pittsburgh, PA"

In [11]:
small_business_df

,company_name,date_filed,associate_initials,current_period_total_sales_revenue,sales_revenue_change_from_budget,current_period_total_cost_of_sales,cost_of_sales_change_from_budget,ratio_revenue_to_cost,current_period_total_operating_expenses,ratio_revenue_to_total_expenses,current_period_total_taxes,gross_margin,return_on_sales,entered_in_online_tracker,company_hq_location
0,ABC Company,2024-05-30,P,430735.0,-0.090432,190116.0,0.032751,2.265643,126073.0,3.416552,36702.51,0.558624,0.180722,Y,"San Diego, CA"
1,BCE Company,2024-05-30,P,453716.0,NaN,202650.0,NaN,2.238914,122867.0,3.692741,39402.69,0.553355,0.195709,Y,"Phoenix, AZ"
2,CDE Company,2024-05-30,P,420635.0,-0.159150,180038.0,-0.015643,2.336368,108545.0,3.875213,0.00,0.571985,0.313935,Y,"New Orleans, LA"
3,DEF Company,2024-05-30,P,493781.0,-0.071589,182055.0,0.069729,2.712263,118813.0,4.155951,53926.37,0.631304,0.281474,Y,"Wilmington, DE"
4,EFG Company,2024-05-30,P,406433.0,0.021720,178280.0,-0.093917,2.279745,128839.0,3.154581,33415.15,0.561355,0.162140,Y,"Indianapolis, IN"
5,FGH Company,2024-05-30,P,554071.0,0.279849,179247.0,-0.103267,3.091103,96075.0,5.767067,71728.07,0.676491,0.373636,Y,"Cherry Hill, NJ"
6,GHI Company,2024-05-30,P,480321.0,0.076323,194390.0,-0.057695,2.470914,89277.0,5.38012,52169.96,0.595291,0.300807,Y,"Columbus, OH"
7,HIJ Company,2024-05-30,P,363077.0,-0.272819,185957.0,-0.015606,1.952478,108924.0,3.333306,24406.62,0.487830,0.120606,Y,"Salt Lake City, UT"
8,IJK Company,2024-05-30,P,470974.0,0.035133,196532.0,0.082964,2.396424,97381.0,4.836405,48353.60,0.582712,0.273279,Y,"Seattle, WA"
9,JKL Company,2024-05-30,P,422384.0,-0.031098,196433.0,0.026097,2.15027,97327.0,4.339844,30988.35,0.534942,0.231154,Y,"Salem, OR"
10,KLM Company,2024-05-30,P,433547.0,0.127030,203294.0,0.097457,2.132611,107712.0,4.025058,36912.45,0.531091,0.197507,Y,"Orlando, FL"
11,LMN Company,2024-05-30,P,423401.0,0.025343,160726.0,-0.208640,2.634303,118093.0,3.585318,42757.41,0.620393,0.240492,Y,"Pittsburgh, PA"

In [8]:
#importing the data from the Big PNL Forms to the big business dataframe

for i in range(len(big_businesses_list)):
    total_sales_revenue_value = big_businesses_list[i].iloc[12,4]
    current_period_total_cost_of_sales_value = big_businesses_list[i].iloc[20,4]
    current_period_total_operating_expenses_value = big_businesses_list[i].iloc[47,4]

    ratio_revenue_to_cost = total_sales_revenue_value /current_period_total_cost_of_sales_value
    ratio_revenue_to_total_expenses = total_sales_revenue_value/current_period_total_operating_expenses_value 
    

    big_business_df.loc[i,"date_filed"] = random_date
    big_business_df.loc[i,"associate_initials"] = random_upper
    
    big_business_df.loc[i,"headquarters_location"] = big_businesses_list[i].iloc[3,4]
    big_business_df.loc[i,"current_period_total_sales_revenue"] = big_businesses_list[i].iloc[12,4]
    big_business_df.loc[i,"sales_revenue_change_from_budget"] = big_businesses_list[i].iloc[12,7]
    big_business_df.loc[i,"current_period_total_cost_of_sales"] = big_businesses_list[i].iloc[20,4]
    big_business_df.loc[i,"cost_of_sales_change_from_budget"] = big_businesses_list[i].iloc[20,7]
    big_business_df.loc[i,"ratio_revenue_to_cost"] = ratio_revenue_to_cost
    big_business_df.loc[i,"current_period_total_operating_expenses"] = big_businesses_list[i].iloc[47,4]
    big_business_df.loc[i,"ratio_revenue_to_total_expenses"] = ratio_revenue_to_total_expenses
    big_business_df.loc[i,"current_period_total_taxes"] =big_businesses_list[i].iloc[60,4] 
    big_business_df.loc[i,"current_period_net_profit"] = big_businesses_list[i].iloc[62,4]
    big_business_df.loc[i,"gross_margin"] = big_businesses_list[i].iloc[1,2]
    big_business_df.loc[i,"current_period_benefits_admin_amount_paid"] = big_businesses_list[i].iloc[44,4]
    big_business_df.loc[i,"return_on_sales"] = big_businesses_list[i].iloc[2,2]

big_business_df

/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1286674850.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2024-05-30' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  big_business_df.loc[i,"date_filed"] = random_date
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1286674850.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'P' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  big_business_df.loc[i,"associate_initials"] = random_upper
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/1286674850.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Buffalo, NY' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  big_business_df.loc[i,"headquarters_location"] = big_businesses_list[i].iloc[3,4]

,company_name,date_filed,associate_initials,headquarters_location,current_period_total_sales_revenue,sales_revenue_change_from_budget,current_period_total_cost_of_sales,cost_of_sales_change_from_budget,ratio_revenue_to_cost,current_period_total_operating_expenses,ratio_revenue_to_total_expenses,current_period_total_taxes,current_period_net_profit,gross_margin,return_on_sales,entered_in_online_tracker,current_period_benefits_admin_amount_paid
0,MNO Company,2024-05-30,P,"Buffalo, NY",6119224.0,0.112908,2118206.0,-0.177728,2.888871,1326124.0,4.614368,1006011.82,1668882.18,0.653844,0.272728,Y,55600.0
1,NOP Company,2024-05-30,P,NaN,6244521.0,0.069779,NaN,NaN,NaN,1168030.0,5.346199,1809981.26,3266509.74,1.000000,0.523100,Y,44791.0
2,OPQ Company,2024-05-30,P,"Charlotte, NC",5324190.0,-0.067918,2376571.0,-0.105708,2.240282,1212823.0,4.389915,678123.16,1056672.84,NaN,0.198466,Y,55032.0
3,PQR Company,2024-05-30,P,"Richmond, VA",6154125.0,-0.011914,2108546.0,-0.107982,2.918658,1039828.0,5.918407,1094598.39,1911152.61,0.657377,0.310548,Y,51893.0
4,QRS Company,2024-05-30,P,"Jackson, MS",6896388.0,0.225383,2438595.0,-0.171214,2.828017,1329651.0,5.186615,1161450.57,1966691.43,0.646395,0.285177,Y,62997.0
5,RST Company,2024-05-30,P,"Austin, TX",5621338.0,-0.005751,2842889.0,0.043828,1.977333,1412891.0,3.978607,475926.57,889631.43,0.494268,0.158260,Y,61917.0
6,STU Company,2024-05-30,P,"New York, NY",5813600.0,0.004722,2503326.0,-0.125657,2.32235,1034186.0,5.621426,846095.64,1429992.36,0.569402,0.245974,Y,35544.0
7,TUV Company,2024-05-30,P,"Philadelphia, PA",5935834.0,0.088344,2459058.0,-0.179749,2.413865,1443029.0,4.113454,798677.48,1235069.52,0.585727,0.208070,Y,61540.0
8,UVW Company,2024-05-30,P,"Frederick, MD",6422572.0,0.064219,2673643.0,0.140132,2.40218,1172213.0,5.479014,961428.73,1615287.27,0.583711,0.251502,Y,38925.0
9,VWX Company,2024-05-30,P,"Milwaukee, WI",6313028.0,0.044278,2410206.0,0.007658,2.61929,1047154.0,6.028748,1044784.72,1810883.28,0.618217,0.286849,Y,38427.0
10,WXY Company,2024-05-30,P,"Palo Alto, CA",7025030.0,0.152563,2398222.0,-0.124394,2.929266,1041601.0,6.744454,1292267.91,2292939.09,0.658618,0.326396,Y,52521.0
11,XYZ Company,2024-05-30,P,"St Louis, MO",5684888.0,-0.021265,2266303.0,-0.192648,2.508441,1072761.0,5.299305,872221.48,1473602.52,0.601346,0.259214,Y,51019.0

In [9]:
#convert the dataframe to excel sheet to make use of it to create a single relational database

small_business_df.to_excel('small_business_tracking_report.xlsx',index = False,header =True)
big_business_df.to_excel('big_business_tracking_report.xlsx',index = False,header =True)

/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/3184398593.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  small_business_df.to_excel('small_business_tracking_report.xlsx',index = False,header =True)
/var/folders/9s/_42jg5ds12l364yqldkmcvvw0000gn/T/ipykernel_39926/3184398593.py:2: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  big_business_df.to_excel('big_business_tracking_report.xlsx',index = False,header =True)

In [ ]:
#a df with